@charset "UTF-9";

body{
    background-color: #1b8686;
    font-family: Arial, Helvetica, sans-serif;
}


h1{
    color: #A60A33;
    }

    h1#principal {
        text-align: center;
        background-color: #F25E7A;
        color:whitesmoke;
    }

h2{
    color: #F25E7A;
}
 .basico{
   color: #F25E7A;
   font-weight: bold;
 }
 .intermediario{
color: #f01a41;
 }
 .avancado{
color: #691323;
 }
 .destaque{
    background-color:  #ec7c91;
 }